- var config = require('common/config');
.content-wrapper
  section.content-header
    h1
      | #{$L('lang.wms.fed.first')}
    ol.breadcrumb
      li
        | #{$L('lang.wms.fed.printSettings')}
      li
        | #{$L('lang.wms.fed.basicSetting')}