- var config = require('common/config');
.content-wrapper
    section.content-header
      h1
        | #{$L('待替换2')}
      ol.breadcrumb
        li
          | #{$L('lang.wms.fed.first')}
        li
          | #{$L('lang.wms.fed.basicSetting')}